body {
	background-color: #EFECCA;
	font-family: "Helvetica", "Arial";
}


a {
	display:inline-block;
	text-decoration: none;
	padding:15px;	
	
}

li {

	text-align:center;
	list-style-type: none;
	background-color:#C03000;
	color:white;
	border:3px;
	border-style: solid;
	border-color:#660000;
	display:inline-block;
}
li:first-child{
	margin-left:10%;
}

li:hover{
	background-color:#009900;
}

li a {
	color:white
}
li a:focus{

	background-color:#009900;
}




h1 {
	color:#C03000;
}

h2 {
	color:#4BB5C1;
}

form {
	margin-top:150px;
	margin-left:30%;
	
}

input{
	border-radius:3px;
	padding:20px;
}

input[type="submit"] {
	border-radius:8px;
}

footer a{
	color:#0000FF;
}